body{ 
  background: #FFFFEO;
}


.principal{
  background= #FFFFEO;
  
p {
  text-align: center;
}
em strong {
  color: #FFFACD;
}  
#"banner" {
  width: 100%;
}
#"missao" { 
  font-size: 70px;
}






